<div id="folding">
	<div class="container">
	  <div id="valueproposition">
	     <h1>Hola, somos una compañía superfantástica</h1>
	     <p>Queremos que tu compañía sea genial y te podemos ayudar con diseño y tecnología. Hacemos un Internet más bonito.</p>
	     <p>Puedes hablar con nosotros aquí:</p>
	     <div class="button">
	  	   <br/><%= link_to 'Necesito superayuda', new_contact_path %></strong>
	     </div>
	  </div>
	  <div id="logo">
	    	<%= image_tag 'superfantastic3.png'%>
	  </div>

	</div>
</div>

<div id="footer">
	<div class="mintext">
   <small>Superfantastic Co. © 2014</small>
   </div>
</div>


