<%= image_tag 'superfantastic.png' %>

<h1>Hola, somos una comañía superfantástica</h1>
<p>Resolvemos problemas de diseño y tecnología de manera sencilla.</p>

Puedes hablar con nosotros en:
hola@superfantastic.co

<footer>
	Superfantastic Co. © 2014
</footer>
