<div id="folding">
	<div class="container">
	  <div id="valueproposition">
	     <h1>Hola, somos una comañía superfantástica</h1>
	     <p>Resolvemos problemas de diseño y tecnología de manera sencilla.</p>
	     <p>Puedes hablar con nosotros en: hola@superfantastic.co</p>
	     <div class="button">
	  	   <a href=#>Necesito ayuda</a>
	     </div>
	  </div>
	  <div id="logo">
	    <%= image_tag 'superfantastic.png' %>
	  </div>
	</div>
</div>

<footer>
	<div class="mintext">
   <small>Superfantastic Co. © 2014</small>
   </div>
</footer>

