<div class="pure-g-r">
	<div class="pure-u-1-1">
		<h2>Aquí puedes dejar un mensaje si necesitas ayuda. Nos gusta ayudar.</h2>
		<%= render 'form' %>
		<%= link_to 'Volver', contacts_path %>
	</div>
</div>