<div class="pure-g-r">
	<div class="pure-u-1-1">
		<h2>Aquí puedes dejar un mensaje si necesitas ayuda. Nos gusta ayudar.</h2>
		<%= render 'form' %>
		<small><%= link_to 'Volver', root_path %></small>
	</div>
</div>