// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* style.scss */
$blueish: #286989;
$greenflow: #1FE5C4;
$mintflow: #B8E5C4;
$rosaranja: #FF7372;
$orangeflow: #FF4F45;
$mustardflow: #F0CC47;
$lightgray: #E6E6E6;
$lightestgray: #F2F2F2;
$lightcream: #f8f5ef;
$gray: #474747;

h1 {
	color: $gray;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1em;
	letter-spacing: 0.0625em;
	font-size: 4em;
}

h2 {
	color: $gray;
	font-family: 'PT Sans Narrow', sans-serif;
	line-height: 1em;
	letter-spacing: 0.06em;
	font-size: 3em;
}

p, a, footer {
	color: $gray;
	font-family: 'Roboto', sans-serif;
	line-height: 1.2em;
	letter-spacing: 0.0625em;
	font-size: 12pt;
}

#folding html, body {
	height: 100%;
	background: $lightcream;

}

.container {
	width:auto;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-150px 0 0 -700px;
}

#logo {
	margin: 24px 0 0 0;
	padding: 0;
	width: auto;
	float: right;
}

#valueproposition {
	margin: 0;
	padding: 0;
	width: 640px;
	float: left;
}

.button a, button{
	color: white;
	padding: 8px 32px 8px 32px;
	margin: 0;
	background: $orangeflow;
	border: 1px;
	border-radius: 32px;
	text-decoration: none;
  &:hover{
    background: $rosaranja;
    transition: .8s;
    text-decoration: none;
  }
}

.mintext small {
	color: $gray;
}

#footer {
	bottom: 10px;
	position: absolute;
	color: gray;
}







.splash-container {
  background: $lightcream;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* This is the main heading that appears on the blue section */

.splash-head {
  font-size: 48px;
  font-weight: bold;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

/* This is the subheading that appears on the blue section */

.splash-subhead {
  opacity: 0.8;
}

